<!DOCTYPE html>
<html><head><title>Omni C++ Library - Classes</title>
<link rel="stylesheet" type="text/css" href="../../content/main.css" /><link rel="icon" type="image/png" href="../../content/favicon.png" />
<script type="text/javascript" src="../../content/common.js"></script></head><body><a name="topopage"></a>
<div class="main"><div class="menu"><div><ul><li title="About Omni"><div>Omni C++ Library</div><ul>
<li title="What is Omni?"><a href="../../about.html">What is Omni?</a></li><li title="A quick start guide">
<a href="../../getstarted.html">Getting Started</a></li><li title="Cross platform support"><a href="../../xplat.html">
Cross Platform</a></li><li title="Download or view the latest source"><a href="../../download.html">Downloads</a>
</li></ul></li><li title="Omni documentation"><div>Documentation</div><ul><li title="View the highlighted source">
<a href="../htmlsrc/index.html">Source</a></li><li title="Library classes and namespaces">
<a href="index.html" class="current">Class Index</a></li><li title="Download and view examples">
<a href="../examples/index.html">Examples</a></li><li title="Download and view build examples">
<a href="../build/index.html">Building</a></li><li title="Omni compiler options">
<a href="../options/index.html">Macros/Options</a></li><li title="System API/Library calls">
<a href="../api.html">System API</a></li><li title="Other Considerations">
<a href="../consider.html">Considerations</a></li><li title="Coding style and best practices">
<a href="../codestyle.html">Style/Best Practices</a></li></ul></li><li title="Search Omni"><div>Search</div><ul>
<li title="Search the source and documentation" id="srchli" name="srchli"><a href="../../search.html">Search the Library</a>
</li><li id="srchfrm" name="srchfrm" class="search"><form onsubmit="return false;">
<input name="omnisrch" id="omnisrch" type="text" /><img src="../../content/search.gif" /></form></li></ul></li>
</ul><div class="ftr"><div>(C) <a href="https://zeriph.com">Zeriph Enterprises</a></div></div></div></div><div class="info">
<!--start content-->
<a name="omni_classes"></a><div class="ptitle">Class/Member Overview</div><div class="content"><div>
The following is a hierarchical overview of the namespaces, classes and members contained within the Omni library.<br>
Expanding the items reveals their inner classes, functions and members while clicking an item will take you to its
help page.<br><br>Hovering over an item will tell you what type it is (e.g. <code>namespace</code>, <code>typedef</code>,
etc.), as well as give a brief overview of the item.<br>
<font style="font-size:12px;">The <a href="#legend">legend</a> is below the table for reference</font>.<br>
<div class="classtree"><ol name="classtree" id="classtree">
<!-- INSERT TREE HERE -->
</ol></div><code>Legend:</code><br>
<table name="legend" id="legend" class="code" style="width:auto;" border="1" cellpadding="2">
<tr><td>Key</td><td>Type</td></tr>
<tr><td><img src="../../content/tree/ns.gif" /></td><td>namespace</td></tr>
<tr><td><img src="../../content/tree/cls.gif" /></td><td>class</td></tr>
<tr><td><img src="../../content/tree/strct.gif" /></td><td>struct</td></tr>
<tr><td><img src="../../content/tree/fn.gif" /></td><td>namespace/class/struct function</td></tr>
<tr><td><img src="../../content/tree/mbr.gif" /></td><td>namespace/class/struct member</td></tr>
<tr><td><img src="../../content/tree/optr.gif" /></td><td>class/struct operator</td></tr>
<tr><td><img src="../../content/tree/eval.gif" /></td><td>enum type</td></tr>
<tr><td><img src="../../content/tree/tdef.gif" /></td><td>typedef type</td></tr>
</table>
<!--end content-->
</div></div></div></div><script type="text/javascript">loadJS();</script></body></html>
