<!DOCTYPE html>
<html><head><title>Omni C++ Library - Library Downloads</title>
<link rel="stylesheet" type="text/css" href="content/main.css" /><link rel="icon" type="image/png" href="content/favicon.png" />
<script type="text/javascript" src="content/common.js"></script></head><body><a name="topopage"></a>
<div class="main"><div class="menu"><div><ul><li title="About Omni"><div>Omni C++ Library</div><ul>
<li title="What is Omni?"><a href="about.html">What is Omni?</a></li><li title="A quick start guide">
<a href="getstarted.html">Getting Started</a></li><li title="Cross platform support"><a href="xplat.html">
Cross Platform</a></li><li title="Download or view the latest source"><a href="download.html" class="current">Downloads</a>
</li></ul></li><li title="Omni documentation"><div>Documentation</div><ul><li title="View the highlighted source">
<a href="docs/htmlsrc/index.html">Source</a></li><li title="Library classes and namespaces">
<a href="docs/classes/index.html">Class Index</a></li><li title="Download and view examples">
<a href="docs/examples/index.html">Examples</a></li><li title="Download and view build examples">
<a href="docs/build/index.html">Building</a></li><li title="Omni compiler options">
<a href="docs/options/index.html">Macros/Options</a></li><li title="System API/Library calls">
<a href="docs/api.html">System API</a></li><li title="Other Considerations">
<a href="docs/consider.html">Considerations</a></li><li title="Coding style and best practices">
<a href="docs/codestyle.html">Style/Best Practices</a></li></ul></li><li title="Search Omni"><div>Search</div><ul>
<li title="Search the source and documentation" id="srchli" name="srchli"><a href="search.html">Search the Library</a>
</li><li id="srchfrm" name="srchfrm" class="search"><form onsubmit="return false;">
<input name="omnisrch" id="omnisrch" type="text" /><img src="content/search.gif" /></form></li></ul></li>
</ul><div class="ftr"><div>(C) <a href="https://zeriph.com">Zeriph Enterprises</a></div></div></div></div><div class="info">
<!--start content-->
<div class="ptitle"><a name="omni_files"></a>Library Downloads</div><div class="content"><div>
Current library version: <b><!-- INSERT OMNI VER --></b><br><br>
Below you can download the latest source for the Omni library, as well, you can opt to download a copy
of the examples, build or help files, or a <a href="files/omni.zip">combination</a> of all.<br><br>
Additionally, you can view the synced <a href="https://github.com/Zeriph/omni">git repo</a>, or if you have
<code>git</code> installed, you can <code>git clone https://github.com/Zeriph/omni.git</code><br><br>
It should be noted if you download the <a href="files/help.zip">help.zip</a> file, a copy of this site is included as the HTML help
documentation, but there is no <b>Download</b> link (since it links directly to the files you have already downloaded), so
to cut on bloat and avoid confusion, it is omitted from the offline help documentation. To view the current source files
without downloading the zip you can visit the <a href="docs/htmlsrc/index.html">source portal</a>.<br><br>Also note that the
<a href="files/raw_src.zip">raw_src.zip</a> file contains the full commented source used to generate the help docs throughout
this site. These source file are no different from the source files in <a href="files/src.zip">src.zip</a> except that the
help documentation comments have been removed.<br><br>
<!--start download table-->
<!-- src zip -->
<div class="dlzip"><span><a name="srczip" href="files/src.zip"><img src="content/dl.gif" alt="Download">src.zip</a> - 
contains the current Omni C++ source code (source only)</span><input type="checkbox" id="csrc" name="csrc" checked />
<label for="csrc"></label><div class="code">File information for <a href="files/src.zip">src.zip</a>
last modified on <!-- INSERT SRC.ZIP DATE -->:<ul>
<li><span>Size:</span><!-- INSERT SRC.ZIP SIZE --></li>
<li><span>SHA-256:</span><!-- INSERT SRC.ZIP SHA256 --></li>
<li><span>SHA-1:</span><!-- INSERT SRC.ZIP SHA1 --></li>
<li><span>MD5:</span><!-- INSERT SRC.ZIP MD5 --></li></ul></div></div>
<!-- help zip -->
<div class="dlzip"><span><a name="helpzip" href="files/help.zip"><img src="content/dl.gif" alt="Download">help.zip</a> - 
contains the HTML help documentation for Omni (this site)</span><input type="checkbox" id="chelp" name="chelp" checked />
<label for="chelp"></label><div class="code">File information for <a href="files/help.zip">help.zip</a>
last modified on <!-- INSERT HELP.ZIP DATE -->:<ul>
<li><span>Size:</span><!-- INSERT HELP.ZIP SIZE --></li>
<li><span>SHA-256:</span><!-- INSERT HELP.ZIP SHA256 --></li>
<li><span>SHA-1:</span><!-- INSERT HELP.ZIP SHA1 --></li>
<li><span>MD5:</span><!-- INSERT HELP.ZIP MD5 --></li></ul></div></div>
<!-- examples zip -->
<div class="dlzip"><span><a name="exzip" href="files/examples.zip"><img src="content/dl.gif" alt="Download">examples.zip</a> - 
contains full examples that utilize Omni</span><input type="checkbox" id="cexamp" name="cexamp" checked />
<label for="cexamp"></label><div class="code">File information for <a href="files/examples.zip">examples.zip</a>
last modified on <!-- INSERT EXAMPLES.ZIP DATE -->:<ul>
<li><span>Size:</span><!-- INSERT EXAMPLES.ZIP SIZE --></li>
<li><span>SHA-256:</span><!-- INSERT EXAMPLES.ZIP SHA256 --></li>
<li><span>SHA-1:</span><!-- INSERT EXAMPLES.ZIP SHA1 --></li>
<li><span>MD5:</span><!-- INSERT EXAMPLES.ZIP MD5 --></li></ul></div></div>
<!-- build zip -->
<div class="dlzip"><span><a name="bldzip" href="files/build.zip"><img src="content/dl.gif" alt="Download">build.zip</a> - 
contains the IDE and command line <a href="docs/build/index.html">examples to build</a> Omni</span><input type="checkbox" id="cbuild" name="cbuild" checked />
<label for="cbuild"></label><div class="code">File information for <a href="files/build.zip">build.zip</a>
last modified on <!-- INSERT BUILD.ZIP DATE -->:<ul>
<li><span>Size:</span><!-- INSERT BUILD.ZIP SIZE --></li>
<li><span>SHA-256:</span><!-- INSERT BUILD.ZIP SHA256 --></li>
<li><span>SHA-1:</span><!-- INSERT BUILD.ZIP SHA1 --></li>
<li><span>MD5:</span><!-- INSERT BUILD.ZIP MD5 --></li></ul></div></div>
<!-- raw_src zip -->
<div class="dlzip"><span><a name="raw_srczip" href="files/raw_src.zip"><img src="content/dl.gif" alt="Download">raw_src.zip</a> - 
contains the fully commented source code</span><input type="checkbox" id="craw_src" name="craw_src" checked />
<label for="craw_src"></label><div class="code">File information for <a href="files/raw_src.zip">raw_src.zip</a>
last modified on <!-- INSERT RAW_SRC.ZIP DATE -->:<ul>
<li><span>Size:</span><!-- INSERT RAW_SRC.ZIP SIZE --></li>
<li><span>SHA-256:</span><!-- INSERT RAW_SRC.ZIP SHA256 --></li>
<li><span>SHA-1:</span><!-- INSERT RAW_SRC.ZIP SHA1 --></li>
<li><span>MD5:</span><!-- INSERT RAW_SRC.ZIP MD5 --></li></ul></div></div>
<!-- omni zip -->
<div class="dlzip"><span><a name="omnizip" href="files/omni.zip"><img src="content/dl.gif" alt="Download">omni.zip</a> - 
contains all of the above</span><input type="checkbox" id="comni" name="comni" checked />
<label for="comni"></label><div class="code">File information for <a href="files/omni.zip">omni.zip</a>
last modified on <!-- INSERT OMNI.ZIP DATE -->:<ul>
<li><span>Size:</span><!-- INSERT OMNI.ZIP SIZE --></li>
<li><span>SHA-256:</span><!-- INSERT OMNI.ZIP SHA256 --></li>
<li><span>SHA-1:</span><!-- INSERT OMNI.ZIP SHA1 --></li>
<li><span>MD5:</span><!-- INSERT OMNI.ZIP MD5 --></li></ul></div></div>
<!--end download table-->
<br><a name="old"></a><b>Older Versions:</b><br>
Below are previous versions of the omni.zip files:<br>
<div class="ozipprev">
<!-- INSERT PREV -->
</div>
<!--end content-->
</div></div></div></div><script type="text/javascript">loadJS();</script></body></html>
