<!DOCTYPE html>
<html><head><title>Omni C++ Library - View the Library Source</title>
<link rel="icon" type="image/png" href="../content/favicon.png" /></head>
<body><a name="topopage"></a><div class="main"><div class="info">
<!--start content-->
<div class="ptitle"><a name="omni_files"></a><b>View the Library Source Files</b></div><br><div class="content"><div>
Below is the list of the current source files within the Omni library, navigating the list will take you to the respective file.
You can also save the individual files via your browsers <code>'save as'</code> functionality.<br><br>
If you wish to view an HTML syntax highlighted version of the source with links that allow you to navigate any <a href="../docs/classes/index.html">library classes</a>,
<a href="../docs/options/index.html">compile options</a> or <a href="../docs/api.html">API's</a> used throughout the code, you can navigate to the
<a href="../docs/htmlsrc/index.html">source view portal</a>; alternatively, you can <a href="src.zip">download</a> the latest version and view it in your favourite editor.<br><br>
It should be noted that the helper headers that merely reference the other library files (e.g. <code>#include &lt;omni/sync/mutex&gt;</code>)
are not included in this list for brevities sake, but you can still view them by removing the <code>.hpp</code> from the file URL, for example
<code><a href="src/omni/sync/mutex.hpp">omni/sync/mutex.hpp</a></code> would just become <code>
<a href="src/omni/sync/mutex">omni/sync/mutex</a></code>, if you wished to view that helper header (though all helper headers 
in the library simply have an <code>#include</code> that includes the <code>.hpp</code> version of it for convenience).
<div><ul>
<!-- INSERT FILE TREE HERE -->
</ul></div>
<!--end content-->
</div></div></div></div></body></html>
