<!DOCTYPE html>
<html><head><title>Omni C++ Library - View the Library Source</title>
<link rel="stylesheet" type="text/css" href="../../content/main.css" /><link rel="icon" type="image/png" href="../../content/favicon.png" />
<script type="text/javascript" src="../../content/common.js"></script></head><body><a name="topopage"></a>
<div class="main"><div class="menu"><div><ul><li title="About Omni"><div>Omni C++ Library</div><ul>
<li title="What is Omni?"><a href="../../about.html">What is Omni?</a></li><li title="A quick start guide">
<a href="../../getstarted.html">Getting Started</a></li><li title="Cross platform support"><a href="../../xplat.html">
Cross Platform</a></li><li title="Download or view the latest source"><a href="../../download.html">Downloads</a>
</li></ul></li><li title="Omni documentation"><div>Documentation</div><ul><li title="View the highlighted source">
<a href="index.html" class="current">Source</a></li><li title="Library classes and namespaces">
<a href="../classes/index.html">Class Index</a></li><li title="Download and view examples">
<a href="../examples/index.html">Examples</a></li><li title="Download and view build examples">
<a href="../build/index.html">Building</a></li><li title="Omni compiler options">
<a href="../options/index.html">Macros/Options</a></li><li title="System API/Library calls">
<a href="../api.html">System API</a></li><li title="Other Considerations">
<a href="../consider.html">Considerations</a></li><li title="Coding style and best practices">
<a href="../codestyle.html">Style/Best Practices</a></li></ul></li><li title="Search Omni"><div>Search</div><ul>
<li title="Search the source and documentation" id="srchli" name="srchli"><a href="../../search.html">Search the Library</a>
</li><li id="srchfrm" name="srchfrm" class="search"><form onsubmit="return false;">
<input name="omnisrch" id="omnisrch" type="text" /><img src="../../content/search.gif" /></form></li></ul></li>
</ul><div class="ftr"><div>(C) <a href="https://zeriph.com">Zeriph Enterprises</a></div></div></div></div><div class="info">
<!--start content-->
<div class="ptitle"><a name="omni_files"></a>View the Library Source Files</div><div class="content"><div>
Below is the list of the current source files within the Omni library, navigating the list will take you to the respective files HTML
code viewer; a syntax highlighted version of the source with links that allow you to navigate any <a href="../classes/index.html">library classes</a>,
<a href="../options/index.html">compile options</a> or <a href="../api.html">API's</a> used throughout the code. Clicking the file name header text
in the code viewer also takes you to the <a href="../../files/index.html">text only</a> view of the code.<br><br>
To view the source in plain text, you can <a href="../../files/src.zip">download</a> the latest version and view it in your favourite editor,
or you can navigate to the <a href="../../files/index.html">source text portal</a> where a basic text version of the source tree is viewable.<br><br>
It should be noted that the helper headers that merely reference the other library files (e.g. <code>#include &lt;omni/sync/mutex&gt;</code>)
are not included in this list for brevities sake, but you can still view them by removing the <code>.hpp</code> from the file URL, for example
<code><a href="omni/sync/mutex.hpp.html">omni/sync/mutex.hpp.html</a></code> would just become <code>
<a href="omni/sync/mutex.html">omni/sync/mutex.html</a></code>, if you wished to view that helper header (though all helper headers 
in the library simply have an <code>#include</code> that includes the <code>.hpp</code> version of it for convenience).<br>
<div class="ftree" style="width: 50em;"><ol id="filetree" name="filetree">
<!-- INSERT FILE TREE HERE -->
</ol></div>
<!--end content-->
</div></div></div></div><script type="text/javascript">loadJS();</script></body></html>
